In [25]:
import pandas as pd
import requests
import random
from time import sleep
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)
import numpy as np
import nltk
import os
from sklearn import datasets
import datetime

from requests_oauthlib import OAuth2Session
from oauthlib.oauth2 import MobileApplicationClient

In [26]:
# This is needed to authenticate us to
import os
%load_ext dotenv
%dotenv
try:
    from requests_oauthlib import OAuth2
except ModuleNotFoundError:
    import sys
    import os

    # I need this because requests_oauth gets installed in a weird place on my system
    sys.path.append('/usr/local/lib/python3.6/site-packages')
    from requests_oauthlib import OAuth2

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [27]:
OAuth2

requests_oauthlib.oauth2_auth.OAuth2

In [28]:
access_token = os.getenv("ACCESS_TOKEN")
client_secret = os.getenv("CLIENT_SECRET")
client_id = os.getenv("CLIENT_ID")
callback_url = os.getenv("CALLBACK_URL")
authorization_uri = os.getenv("AUTHORIZATION_URI")

In [16]:
# %load ~/anaconda3/lib/python3.6/site-packages/requests_oauthlib/oauth2_auth.py# %load 
from __future__ import unicode_literals
from oauthlib.oauth2 import WebApplicationClient, InsecureTransportError
from oauthlib.oauth2 import is_secure_transport
from requests.auth import AuthBase


class OAuth2(AuthBase):
    """Adds proof of authorization (OAuth2 token) to the request."""

    def __init__(self, client_id=None, client=None, token=None):
        """Construct a new OAuth 2 authorization object.

        :param client_id: Client id obtained during registration
        :param client: :class:`oauthlib.oauth2.Client` to be used. Default is
                       WebApplicationClient which is useful for any
                       hosted application but not mobile or desktop.
        :param token: Token dictionary, must include access_token
                      and token_type.
        """
        self._client = client or WebApplicationClient(client_id, token=token)
        if token:
            for k, v in token.items():
                setattr(self._client, k, v)

    def __call__(self, r):
        """Append an OAuth 2 token to the request.

        Note that currently HTTPS is required for all requests. There may be
        a token type that allows for plain HTTP in the future and then this
        should be updated to allow plain HTTP on a white list basis.
        """
        if not is_secure_transport(r.url):
            raise InsecureTransportError()
        r.url, r.headers, r.body = self._client.add_token(r.url,
                http_method=r.method, body=r.body, headers=r.headers)
        return r

In [32]:
scope = ["activity", "heartrate", "location", "nutrition", "profile", "settings", "sleep", "social", "weight"]

client = MobileApplicationClient(client_id)

token = {
    'access_token': access_token,
    'token_type': 'Bearer'
}

fitbit = OAuth2Session(client_id, client=client, scope=scope, token=token)

In [33]:
r = fitbit.get('https://api.fitbit.com/1/user/-/profile.json')

In [35]:
response = r.json()

In [36]:
response

{'user': {'age': 25,
  'ambassador': False,
  'autoStrideEnabled': True,
  'avatar': 'https://d6y8zfzc2qfsl.cloudfront.net/9A7CB7C7-776B-56AF-D8CF-6A0AC63C1A2B_profile_100_square.jpg',
  'avatar150': 'https://d6y8zfzc2qfsl.cloudfront.net/9A7CB7C7-776B-56AF-D8CF-6A0AC63C1A2B_profile_150_square.jpg',
  'avatar640': 'https://d6y8zfzc2qfsl.cloudfront.net/9A7CB7C7-776B-56AF-D8CF-6A0AC63C1A2B_profile_640_square.jpg',
  'averageDailySteps': 7822,
  'clockTimeDisplayFormat': '12hour',
  'corporate': False,
  'corporateAdmin': False,
  'country': 'US',
  'dateOfBirth': '1992-12-11',
  'displayName': 'Brenden R.',
  'displayNameSetting': 'name',
  'distanceUnit': 'en_US',
  'encodedId': '2F5M36',
  'familyGuidanceEnabled': False,
  'features': {'exerciseGoal': True},
  'firstName': 'Brenden',
  'foodsLocale': 'en_US',
  'fullName': 'Brenden Rossin',
  'gender': 'MALE',
  'glucoseUnit': 'en_US',
  'height': 180.4,
  'heightUnit': 'en_US',
  'isChild': False,
  'isGraduationAvailable': False,
  'lastName': 'Rossin',
  'locale': 'en_US',
  'memberSince': '2014-03-14',
  'mfaEnabled': False,
  'offsetFromUTCMillis': -25200000,
  'startDayOfWeek': 'SUNDAY',
  'strideLengthRunning': 107.9,
  'strideLengthRunningType': 'manual',
  'strideLengthWalking': 74.9,
  'strideLengthWalkingType': 'default',
  'swimUnit': 'en_US',
  'timezone': 'America/Los_Angeles',
  'topBadges': [{'badgeGradientEndColor': 'FF677C',
    'badgeGradientStartColor': 'D24958',
    'badgeType': 'DAILY_STEPS',
    'category': 'Daily Steps',
    'cheers': [],
    'dateTime': '2017-07-10',
    'description': '35,000 steps in a day',
    'earnedMessage': 'Congrats on earning your first Hiking Boot badge!',
    'encodedId': '228TPW',
    'image100px': 'https://static0.fitbit.com/images/badges_new/100px/badge_daily_steps35k.png',
    'image125px': 'https://static0.fitbit.com/images/badges_new/125px/badge_daily_steps35k.png',
    'image300px': 'https://static0.fitbit.com/images/badges_new/300px/badge_daily_steps35k.png',
    'image50px': 'https://static0.fitbit.com/images/badges_new/badge_daily_steps35k.png',
    'image75px': 'https://static0.fitbit.com/images/badges_new/75px/badge_daily_steps35k.png',
    'marketingDescription': "You've walked 35,000 steps  And earned the Hiking Boot badge!",
    'mobileDescription': "Woot, woot! There's no mountain you can't climb and no goal you can't get.",
    'name': 'Hiking Boot (35,000 steps in a day)',
    'shareImage640px': 'https://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_daily_steps35k.png',
    'shareText': 'I took 35,000 steps and earned the Hiking Boot badge! #Fitbit',
    'shortDescription': '35,000 steps',
    'shortName': 'Hiking Boot',
    'timesAchieved': 2,
    'value': 35000},
   {'badgeGradientEndColor': 'A489E8',
    'badgeGradientStartColor': '38216E',
    'badgeType': 'LIFETIME_DISTANCE',
    'category': 'Lifetime Distance',
    'cheers': [],
    'dateTime': '2018-06-14',
    'description': '1,997 lifetime miles',
    'earnedMessage': "Whoa! You've earned the India badge!",
    'encodedId': '22B8MH',
    'image100px': 'https://static0.fitbit.com/images/badges_new/100px/badge_lifetime_miles1997.png',
    'image125px': 'https://static0.fitbit.com/images/badges_new/125px/badge_lifetime_miles1997.png',
    'image300px': 'https://static0.fitbit.com/images/badges_new/300px/badge_lifetime_miles1997.png',
    'image50px': 'https://static0.fitbit.com/images/badges_new/badge_lifetime_miles1997.png',
    'image75px': 'https://static0.fitbit.com/images/badges_new/75px/badge_lifetime_miles1997.png',
    'marketingDescription': "By reaching 1,997 lifetime miles, you've earned the India badge!",
    'mobileDescription': 'Exceptional! You walked the same distance as the length of India—a universally admired achievement.',
    'name': 'India (1,997 lifetime miles)',
    'shareImage640px': 'https://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_lifetime_miles1997.png',
    'shareText': 'I covered 1,997 miles with my #Fitbit and earned the India badge.',
    'shortDescription': '1,997 miles',
    'shortName': 'India',
    'timesAchieved': 1,
    'unit': 'MILES',
    'value': 1997},
   {'badgeGradientEndColor': 'B0DF2A',
    'badgeGradientStartColor': '00A550',
    'badgeType': 'DAILY_FLOORS',
    'category': 'Daily Climb',
    'cheers': [],
    'dateTime': '2017-07-01',
    'description': '100 floors in a day',
    'earnedMessage': 'Congrats on earning your first Skyscraper badge!',
    'encodedId': '228TSL',
    'image100px': 'https://static0.fitbit.com/images/badges_new/100px/badge_daily_floors100.png',
    'image125px': 'https://static0.fitbit.com/images/badges_new/125px/badge_daily_floors100.png',
    'image300px': 'https://static0.fitbit.com/images/badges_new/300px/badge_daily_floors100.png',
    'image50px': 'https://static0.fitbit.com/images/badges_new/badge_daily_floors100.png',
    'image75px': 'https://static0.fitbit.com/images/badges_new/75px/badge_daily_floors100.png',
    'marketingDescription': "You've climbed 100 floors to earn the Skyscraper badge!",
    'mobileDescription': "You've used some pretty slick stair-climbing to take yourself to new heights!",
    'name': 'Skyscraper (100 floors in a day)',
    'shareImage640px': 'https://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_daily_floors100.png',
    'shareText': 'I climbed 100 flights of stairs and earned the Skyscraper badge! #Fitbit',
    'shortDescription': '100 floors',
    'shortName': 'Skyscraper',
    'timesAchieved': 1,
    'value': 100},
   {'badgeGradientEndColor': '00D3D6',
    'badgeGradientStartColor': '007273',
    'badgeType': 'LIFETIME_FLOORS',
    'category': 'Lifetime Climb',
    'cheers': [],
    'dateTime': '2018-01-22',
    'description': '2,000 lifetime floors',
    'earnedMessage': "Yipee! You've earned the Hot Air Balloon badge!",
    'encodedId': '228T9T',
    'image100px': 'https://static0.fitbit.com/images/badges_new/100px/badge_lifetime_floors2k.png',
    'image125px': 'https://static0.fitbit.com/images/badges_new/125px/badge_lifetime_floors2k.png',
    'image300px': 'https://static0.fitbit.com/images/badges_new/300px/badge_lifetime_floors2k.png',
    'image50px': 'https://static0.fitbit.com/images/badges_new/badge_lifetime_floors2k.png',
    'image75px': 'https://static0.fitbit.com/images/badges_new/75px/badge_lifetime_floors2k.png',
    'marketingDescription': "By climbing 2000 lifetime floors, you've earned the Hot Air Balloon badge!",
    'mobileDescription': "That's as high as a hot air balloon! You are really blowing up the lifetime badges list.",
    'name': 'Hot Air Balloon (2,000 lifetime floors)',
    'shareImage640px': 'https://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_lifetime_floors2k.png',
    'shareText': 'I climbed 2,000 floors with my #Fitbit and earned the Hot Air Balloon badge.',
    'shortDescription': '2,000 floors',
    'shortName': 'Hot Air Balloon',
    'timesAchieved': 1,
    'value': 2000}],
  'waterUnit': 'en_US',
  'waterUnitName': 'fl oz',
  'weight': 84.2,
  'weightUnit': 'en_US'}}

In [101]:
yesterday = datetime.datetime(2018,8,27)

date_list = ['2018-08-27']

for i in range(19):
    date = yesterday - datetime.timedelta(days = 31)
    date_list.append(date.strftime('%Y-%m-%d'))
    yesterday = date

In [102]:
date_list

['2018-08-27',
 '2018-07-27',
 '2018-06-26',
 '2018-05-26',
 '2018-04-25',
 '2018-03-25',
 '2018-02-22',
 '2018-01-22',
 '2017-12-22',
 '2017-11-21',
 '2017-10-21',
 '2017-09-20',
 '2017-08-20',
 '2017-07-20',
 '2017-06-19',
 '2017-05-19',
 '2017-04-18',
 '2017-03-18',
 '2017-02-15',
 '2017-01-15']

In [103]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/steps/date/{value}/1m.json')
    response = r.json()
    steps = response['activities-tracker-steps']
    steps_df = pd.DataFrame(steps)
    if index == 0:
        all_steps_df = steps_df
    else:
        all_steps_df = pd.concat([all_steps_df, steps_df])
    
    
all_steps_df

      dateTime  value
0   2018-07-28   4031
1   2018-07-29      0
2   2018-07-30      0
3   2018-07-31   3985
4   2018-08-01   4173
5   2018-08-02   7469
6   2018-08-03  10066
7   2018-08-04   8927
8   2018-08-05   2260
9   2018-08-06   7036
10  2018-08-07  10049
11  2018-08-08   9404
12  2018-08-09   3897
13  2018-08-10   7947
14  2018-08-11   3713
15  2018-08-12   9530
16  2018-08-13   9455
17  2018-08-14   5213
18  2018-08-15    284
19  2018-08-16   7299
20  2018-08-17   7047
21  2018-08-18      0
22  2018-08-19   5901
23  2018-08-20  11104
24  2018-08-21  10111
25  2018-08-22   5782
26  2018-08-23  10359
27  2018-08-24   8696
28  2018-08-25    165
29  2018-08-26  13286
..         ...    ...
1   2016-12-17      0
2   2016-12-18      0
3   2016-12-19      0
4   2016-12-20      0
5   2016-12-21      0
6   2016-12-22      0
7   2016-12-23      0
8   2016-12-24      0
9   2016-12-25   1178
10  2016-12-26   4058
11  2016-12-27   6378
12  2016-12-28   9507
13  2016-12-29   6472
14  2016-12-30   2989
15  2016-12-31    784
16  2017-01-01    137
17  2017-01-02   4791
18  2017-01-03   5224
19  2017-01-04   7864
20  2017-01-05   4709
21  2017-01-06  13146
22  2017-01-07   3002
23  2017-01-08   4392
24  2017-01-09   5423
25  2017-01-10  10152
26  2017-01-11   9289
27  2017-01-12   6284
28  2017-01-13  13866
29  2017-01-14   5606
30  2017-01-15   4252

[620 rows x 2 columns]

In [104]:
all_steps_df.to_pickle("Data/fitbit_steps.pkl")