In [25]:
import pandas as pd
import requests
import random
from time import sleep
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)
import numpy as np
import nltk
import os
from sklearn import datasets
import datetime

from requests_oauthlib import OAuth2Session
from oauthlib.oauth2 import MobileApplicationClient

In [26]:
# This is needed to authenticate us to
import os
%load_ext dotenv
%dotenv
try:
    from requests_oauthlib import OAuth2
except ModuleNotFoundError:
    import sys
    import os

    # I need this because requests_oauth gets installed in a weird place on my system
    sys.path.append('/usr/local/lib/python3.6/site-packages')
    from requests_oauthlib import OAuth2

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [27]:
OAuth2

requests_oauthlib.oauth2_auth.OAuth2

In [28]:
access_token = os.getenv("ACCESS_TOKEN")
client_secret = os.getenv("CLIENT_SECRET")
client_id = os.getenv("CLIENT_ID")
callback_url = os.getenv("CALLBACK_URL")
authorization_uri = os.getenv("AUTHORIZATION_URI")

In [16]:
# %load ~/anaconda3/lib/python3.6/site-packages/requests_oauthlib/oauth2_auth.py# %load 
from __future__ import unicode_literals
from oauthlib.oauth2 import WebApplicationClient, InsecureTransportError
from oauthlib.oauth2 import is_secure_transport
from requests.auth import AuthBase


class OAuth2(AuthBase):
    """Adds proof of authorization (OAuth2 token) to the request."""

    def __init__(self, client_id=None, client=None, token=None):
        """Construct a new OAuth 2 authorization object.

        :param client_id: Client id obtained during registration
        :param client: :class:`oauthlib.oauth2.Client` to be used. Default is
                       WebApplicationClient which is useful for any
                       hosted application but not mobile or desktop.
        :param token: Token dictionary, must include access_token
                      and token_type.
        """
        self._client = client or WebApplicationClient(client_id, token=token)
        if token:
            for k, v in token.items():
                setattr(self._client, k, v)

    def __call__(self, r):
        """Append an OAuth 2 token to the request.

        Note that currently HTTPS is required for all requests. There may be
        a token type that allows for plain HTTP in the future and then this
        should be updated to allow plain HTTP on a white list basis.
        """
        if not is_secure_transport(r.url):
            raise InsecureTransportError()
        r.url, r.headers, r.body = self._client.add_token(r.url,
                http_method=r.method, body=r.body, headers=r.headers)
        return r

In [32]:
scope = ["activity", "heartrate", "location", "nutrition", "profile", "settings", "sleep", "social", "weight"]

client = MobileApplicationClient(client_id)

token = {
    'access_token': access_token,
    'token_type': 'Bearer'
}

fitbit = OAuth2Session(client_id, client=client, scope=scope, token=token)

In [33]:
r = fitbit.get('https://api.fitbit.com/1/user/-/profile.json')

In [35]:
response = r.json()

In [36]:
response

{'user': {'age': 25,
  'ambassador': False,
  'autoStrideEnabled': True,
  'avatar': 'https://d6y8zfzc2qfsl.cloudfront.net/9A7CB7C7-776B-56AF-D8CF-6A0AC63C1A2B_profile_100_square.jpg',
  'avatar150': 'https://d6y8zfzc2qfsl.cloudfront.net/9A7CB7C7-776B-56AF-D8CF-6A0AC63C1A2B_profile_150_square.jpg',
  'avatar640': 'https://d6y8zfzc2qfsl.cloudfront.net/9A7CB7C7-776B-56AF-D8CF-6A0AC63C1A2B_profile_640_square.jpg',
  'averageDailySteps': 7822,
  'clockTimeDisplayFormat': '12hour',
  'corporate': False,
  'corporateAdmin': False,
  'country': 'US',
  'dateOfBirth': '1992-12-11',
  'displayName': 'Brenden R.',
  'displayNameSetting': 'name',
  'distanceUnit': 'en_US',
  'encodedId': '2F5M36',
  'familyGuidanceEnabled': False,
  'features': {'exerciseGoal': True},
  'firstName': 'Brenden',
  'foodsLocale': 'en_US',
  'fullName': 'Brenden Rossin',
  'gender': 'MALE',
  'glucoseUnit': 'en_US',
  'height': 180.4,
  'heightUnit': 'en_US',
  'isChild': False,
  'isGraduationAvailable': False,
  'lastName': 'Rossin',
  'locale': 'en_US',
  'memberSince': '2014-03-14',
  'mfaEnabled': False,
  'offsetFromUTCMillis': -25200000,
  'startDayOfWeek': 'SUNDAY',
  'strideLengthRunning': 107.9,
  'strideLengthRunningType': 'manual',
  'strideLengthWalking': 74.9,
  'strideLengthWalkingType': 'default',
  'swimUnit': 'en_US',
  'timezone': 'America/Los_Angeles',
  'topBadges': [{'badgeGradientEndColor': 'FF677C',
    'badgeGradientStartColor': 'D24958',
    'badgeType': 'DAILY_STEPS',
    'category': 'Daily Steps',
    'cheers': [],
    'dateTime': '2017-07-10',
    'description': '35,000 steps in a day',
    'earnedMessage': 'Congrats on earning your first Hiking Boot badge!',
    'encodedId': '228TPW',
    'image100px': 'https://static0.fitbit.com/images/badges_new/100px/badge_daily_steps35k.png',
    'image125px': 'https://static0.fitbit.com/images/badges_new/125px/badge_daily_steps35k.png',
    'image300px': 'https://static0.fitbit.com/images/badges_new/300px/badge_daily_steps35k.png',
    'image50px': 'https://static0.fitbit.com/images/badges_new/badge_daily_steps35k.png',
    'image75px': 'https://static0.fitbit.com/images/badges_new/75px/badge_daily_steps35k.png',
    'marketingDescription': "You've walked 35,000 steps  And earned the Hiking Boot badge!",
    'mobileDescription': "Woot, woot! There's no mountain you can't climb and no goal you can't get.",
    'name': 'Hiking Boot (35,000 steps in a day)',
    'shareImage640px': 'https://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_daily_steps35k.png',
    'shareText': 'I took 35,000 steps and earned the Hiking Boot badge! #Fitbit',
    'shortDescription': '35,000 steps',
    'shortName': 'Hiking Boot',
    'timesAchieved': 2,
    'value': 35000},
   {'badgeGradientEndColor': 'A489E8',
    'badgeGradientStartColor': '38216E',
    'badgeType': 'LIFETIME_DISTANCE',
    'category': 'Lifetime Distance',
    'cheers': [],
    'dateTime': '2018-06-14',
    'description': '1,997 lifetime miles',
    'earnedMessage': "Whoa! You've earned the India badge!",
    'encodedId': '22B8MH',
    'image100px': 'https://static0.fitbit.com/images/badges_new/100px/badge_lifetime_miles1997.png',
    'image125px': 'https://static0.fitbit.com/images/badges_new/125px/badge_lifetime_miles1997.png',
    'image300px': 'https://static0.fitbit.com/images/badges_new/300px/badge_lifetime_miles1997.png',
    'image50px': 'https://static0.fitbit.com/images/badges_new/badge_lifetime_miles1997.png',
    'image75px': 'https://static0.fitbit.com/images/badges_new/75px/badge_lifetime_miles1997.png',
    'marketingDescription': "By reaching 1,997 lifetime miles, you've earned the India badge!",
    'mobileDescription': 'Exceptional! You walked the same distance as the length of India—a universally admired achievement.',
    'name': 'India (1,997 lifetime miles)',
    'shareImage640px': 'https://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_lifetime_miles1997.png',
    'shareText': 'I covered 1,997 miles with my #Fitbit and earned the India badge.',
    'shortDescription': '1,997 miles',
    'shortName': 'India',
    'timesAchieved': 1,
    'unit': 'MILES',
    'value': 1997},
   {'badgeGradientEndColor': 'B0DF2A',
    'badgeGradientStartColor': '00A550',
    'badgeType': 'DAILY_FLOORS',
    'category': 'Daily Climb',
    'cheers': [],
    'dateTime': '2017-07-01',
    'description': '100 floors in a day',
    'earnedMessage': 'Congrats on earning your first Skyscraper badge!',
    'encodedId': '228TSL',
    'image100px': 'https://static0.fitbit.com/images/badges_new/100px/badge_daily_floors100.png',
    'image125px': 'https://static0.fitbit.com/images/badges_new/125px/badge_daily_floors100.png',
    'image300px': 'https://static0.fitbit.com/images/badges_new/300px/badge_daily_floors100.png',
    'image50px': 'https://static0.fitbit.com/images/badges_new/badge_daily_floors100.png',
    'image75px': 'https://static0.fitbit.com/images/badges_new/75px/badge_daily_floors100.png',
    'marketingDescription': "You've climbed 100 floors to earn the Skyscraper badge!",
    'mobileDescription': "You've used some pretty slick stair-climbing to take yourself to new heights!",
    'name': 'Skyscraper (100 floors in a day)',
    'shareImage640px': 'https://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_daily_floors100.png',
    'shareText': 'I climbed 100 flights of stairs and earned the Skyscraper badge! #Fitbit',
    'shortDescription': '100 floors',
    'shortName': 'Skyscraper',
    'timesAchieved': 1,
    'value': 100},
   {'badgeGradientEndColor': '00D3D6',
    'badgeGradientStartColor': '007273',
    'badgeType': 'LIFETIME_FLOORS',
    'category': 'Lifetime Climb',
    'cheers': [],
    'dateTime': '2018-01-22',
    'description': '2,000 lifetime floors',
    'earnedMessage': "Yipee! You've earned the Hot Air Balloon badge!",
    'encodedId': '228T9T',
    'image100px': 'https://static0.fitbit.com/images/badges_new/100px/badge_lifetime_floors2k.png',
    'image125px': 'https://static0.fitbit.com/images/badges_new/125px/badge_lifetime_floors2k.png',
    'image300px': 'https://static0.fitbit.com/images/badges_new/300px/badge_lifetime_floors2k.png',
    'image50px': 'https://static0.fitbit.com/images/badges_new/badge_lifetime_floors2k.png',
    'image75px': 'https://static0.fitbit.com/images/badges_new/75px/badge_lifetime_floors2k.png',
    'marketingDescription': "By climbing 2000 lifetime floors, you've earned the Hot Air Balloon badge!",
    'mobileDescription': "That's as high as a hot air balloon! You are really blowing up the lifetime badges list.",
    'name': 'Hot Air Balloon (2,000 lifetime floors)',
    'shareImage640px': 'https://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_lifetime_floors2k.png',
    'shareText': 'I climbed 2,000 floors with my #Fitbit and earned the Hot Air Balloon badge.',
    'shortDescription': '2,000 floors',
    'shortName': 'Hot Air Balloon',
    'timesAchieved': 1,
    'value': 2000}],
  'waterUnit': 'en_US',
  'waterUnitName': 'fl oz',
  'weight': 84.2,
  'weightUnit': 'en_US'}}

In [101]:
yesterday = datetime.datetime(2018,8,27)

date_list = ['2018-08-27']

for i in range(19):
    date = yesterday - datetime.timedelta(days = 31)
    date_list.append(date.strftime('%Y-%m-%d'))
    yesterday = date

In [102]:
date_list

['2018-08-27',
 '2018-07-27',
 '2018-06-26',
 '2018-05-26',
 '2018-04-25',
 '2018-03-25',
 '2018-02-22',
 '2018-01-22',
 '2017-12-22',
 '2017-11-21',
 '2017-10-21',
 '2017-09-20',
 '2017-08-20',
 '2017-07-20',
 '2017-06-19',
 '2017-05-19',
 '2017-04-18',
 '2017-03-18',
 '2017-02-15',
 '2017-01-15']

In [117]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/steps/date/{value}/1m.json')
    response = r.json()
    steps = response['activities-tracker-steps']
    steps_df = pd.DataFrame(steps)
    if index == 0:
        all_steps_df = steps_df
    else:
        all_steps_df = pd.concat([all_steps_df, steps_df])

all_steps_df.to_pickle("Data/fitbit_steps.pkl")

all_steps_df.rename(index=str, columns={"dateTime": "Date", "value": "Steps"}, inplace=True)

all_steps_df

          Date  Steps
0   2018-07-28   4031
1   2018-07-29      0
2   2018-07-30      0
3   2018-07-31   3985
4   2018-08-01   4173
5   2018-08-02   7469
6   2018-08-03  10066
7   2018-08-04   8927
8   2018-08-05   2260
9   2018-08-06   7036
10  2018-08-07  10049
11  2018-08-08   9404
12  2018-08-09   3897
13  2018-08-10   7947
14  2018-08-11   3713
15  2018-08-12   9530
16  2018-08-13   9455
17  2018-08-14   5213
18  2018-08-15    284
19  2018-08-16   7299
20  2018-08-17   7047
21  2018-08-18      0
22  2018-08-19   5901
23  2018-08-20  11104
24  2018-08-21  10111
25  2018-08-22   5782
26  2018-08-23  10359
27  2018-08-24   8696
28  2018-08-25    165
29  2018-08-26  13286
..         ...    ...
1   2016-12-17      0
2   2016-12-18      0
3   2016-12-19      0
4   2016-12-20      0
5   2016-12-21      0
6   2016-12-22      0
7   2016-12-23      0
8   2016-12-24      0
9   2016-12-25   1178
10  2016-12-26   4058
11  2016-12-27   6378
12  2016-12-28   9507
13  2016-12-29   6472
14  2016-12-30   2989
15  2016-12-31    784
16  2017-01-01    137
17  2017-01-02   4791
18  2017-01-03   5224
19  2017-01-04   7864
20  2017-01-05   4709
21  2017-01-06  13146
22  2017-01-07   3002
23  2017-01-08   4392
24  2017-01-09   5423
25  2017-01-10  10152
26  2017-01-11   9289
27  2017-01-12   6284
28  2017-01-13  13866
29  2017-01-14   5606
30  2017-01-15   4252

[620 rows x 2 columns]

In [118]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/distance/date/{value}/1m.json')
    response = r.json()
    distance = response['activities-tracker-distance']
    distance_df = pd.DataFrame(distance)
    if index == 0:
        all_distance_df = distance_df
    else:
        all_distance_df = pd.concat([all_distance_df, distance_df])
    

all_distance_df.to_pickle("Data/fitbit_distance.pkl")    

all_distance_df.rename(index=str, columns={"dateTime": "Date", "value": "Distance"}, inplace=True)

all_distance_df

          Date             Distance
0   2018-07-28   3.0192099999999997
1   2018-07-29                  0.0
2   2018-07-30                  0.0
3   2018-07-31              2.98476
4   2018-08-01   3.1255699999999997
5   2018-08-02   5.5942799999999995
6   2018-08-03    7.539429999999999
7   2018-08-04    7.362139999999999
8   2018-08-05              1.69274
9   2018-08-06              5.26996
10  2018-08-07               7.5267
11  2018-08-08              7.04359
12  2018-08-09              2.91885
13  2018-08-10               5.9523
14  2018-08-11              2.78103
15  2018-08-12              8.29707
16  2018-08-13   7.5543499999999995
17  2018-08-14              3.90453
18  2018-08-15  0.21270999999999998
19  2018-08-16              5.46695
20  2018-08-17               5.2782
21  2018-08-18                  0.0
22  2018-08-19              5.26871
23  2018-08-20    8.316889999999999
24  2018-08-21              7.57313
25  2018-08-22              4.33071
26  2018-08-23              7.75889
27  2018-08-24               6.5133
28  2018-08-25              0.12358
29  2018-08-26             11.05997
..         ...                  ...
1   2016-12-17                  0.0
2   2016-12-18                  0.0
3   2016-12-19                  0.0
4   2016-12-20                  0.0
5   2016-12-21                  0.0
6   2016-12-22                  0.0
7   2016-12-23                  0.0
8   2016-12-24                  0.0
9   2016-12-25              0.88232
10  2016-12-26              3.03944
11  2016-12-27              4.77712
12  2016-12-28              7.58109
13  2016-12-29    4.847519999999999
14  2016-12-30              2.23876
15  2016-12-31              0.58721
16  2017-01-01  0.10260999999999999
17  2017-01-02              4.04517
18  2017-01-03   3.9127699999999996
19  2017-01-04              6.40196
20  2017-01-05              3.52704
21  2017-01-06             10.30604
22  2017-01-07              2.24849
23  2017-01-08   3.2895999999999996
24  2017-01-09              4.06182
25  2017-01-10               8.2216
26  2017-01-11    6.957459999999999
27  2017-01-12              4.70671
28  2017-01-13   11.136709999999999
29  2017-01-14              4.19889
30  2017-01-15   3.1847399999999997

[620 rows x 2 columns]

In [119]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/calories/date/{value}/1m.json')
    response = r.json()
    calories = response['activities-tracker-calories']
    calories_df = pd.DataFrame(calories)
    if index == 0:
        all_calories_df = calories_df
    else:
        all_calories_df = pd.concat([all_calories_df, calories_df])
    

all_calories_df.to_pickle("Data/fitbit_calories.pkl")    

all_calories_df.rename(index=str, columns={"dateTime": "Date", "value": "Calories_Burned"}, inplace=True)

all_calories_df

          Date Calories_Burned
0   2018-07-28            2237
1   2018-07-29            1851
2   2018-07-30            1851
3   2018-07-31            2486
4   2018-08-01            2434
5   2018-08-02            3030
6   2018-08-03            3030
7   2018-08-04            2838
8   2018-08-05            2193
9   2018-08-06            2723
10  2018-08-07            2958
11  2018-08-08            3055
12  2018-08-09            2397
13  2018-08-10            2871
14  2018-08-11            2236
15  2018-08-12            2849
16  2018-08-13            3218
17  2018-08-14            2644
18  2018-08-15            1895
19  2018-08-16            2875
20  2018-08-17            2821
21  2018-08-18            1851
22  2018-08-19            2371
23  2018-08-20            3450
24  2018-08-21            2942
25  2018-08-22            2669
26  2018-08-23            3141
27  2018-08-24            3216
28  2018-08-25            1977
29  2018-08-26            3080
..         ...             ...
1   2016-12-17            1855
2   2016-12-18            1855
3   2016-12-19            1855
4   2016-12-20            1854
5   2016-12-21            1854
6   2016-12-22            1854
7   2016-12-23            1853
8   2016-12-24            1853
9   2016-12-25            2074
10  2016-12-26            2629
11  2016-12-27            2633
12  2016-12-28            3267
13  2016-12-29            2775
14  2016-12-30            2384
15  2016-12-31            2155
16  2017-01-01            1887
17  2017-01-02            2617
18  2017-01-03            2497
19  2017-01-04            2972
20  2017-01-05            2460
21  2017-01-06            3637
22  2017-01-07            2326
23  2017-01-08            2579
24  2017-01-09            2615
25  2017-01-10            2985
26  2017-01-11            3123
27  2017-01-12            2637
28  2017-01-13            4086
29  2017-01-14            3502
30  2017-01-15            2722

[620 rows x 2 columns]

In [121]:
fitbit_df = all_steps_df.merge(all_distance_df, left_on='Date', right_on='Date', how='outer')
fitbit_df = fitbit_df.merge(all_calories_df, left_on='Date', right_on='Date', how='outer')

fitbit_df

           Date  Steps             Distance Calories_Burned
0    2018-07-28   4031   3.0192099999999997            2237
1    2018-07-29      0                  0.0            1851
2    2018-07-30      0                  0.0            1851
3    2018-07-31   3985              2.98476            2486
4    2018-08-01   4173   3.1255699999999997            2434
5    2018-08-02   7469   5.5942799999999995            3030
6    2018-08-03  10066    7.539429999999999            3030
7    2018-08-04   8927    7.362139999999999            2838
8    2018-08-05   2260              1.69274            2193
9    2018-08-06   7036              5.26996            2723
10   2018-08-07  10049               7.5267            2958
11   2018-08-08   9404              7.04359            3055
12   2018-08-09   3897              2.91885            2397
13   2018-08-10   7947               5.9523            2871
14   2018-08-11   3713              2.78103            2236
15   2018-08-12   9530              8.29707            2849
16   2018-08-13   9455   7.5543499999999995            3218
17   2018-08-14   5213              3.90453            2644
18   2018-08-15    284  0.21270999999999998            1895
19   2018-08-16   7299              5.46695            2875
20   2018-08-17   7047               5.2782            2821
21   2018-08-18      0                  0.0            1851
22   2018-08-19   5901              5.26871            2371
23   2018-08-20  11104    8.316889999999999            3450
24   2018-08-21  10111              7.57313            2942
25   2018-08-22   5782              4.33071            2669
26   2018-08-23  10359              7.75889            3141
27   2018-08-24   8696               6.5133            3216
28   2018-08-25    165              0.12358            1977
29   2018-08-26  13286             11.05997            3080
..          ...    ...                  ...             ...
590  2016-12-17      0                  0.0            1855
591  2016-12-18      0                  0.0            1855
592  2016-12-19      0                  0.0            1855
593  2016-12-20      0                  0.0            1854
594  2016-12-21      0                  0.0            1854
595  2016-12-22      0                  0.0            1854
596  2016-12-23      0                  0.0            1853
597  2016-12-24      0                  0.0            1853
598  2016-12-25   1178              0.88232            2074
599  2016-12-26   4058              3.03944            2629
600  2016-12-27   6378              4.77712            2633
601  2016-12-28   9507              7.58109            3267
602  2016-12-29   6472    4.847519999999999            2775
603  2016-12-30   2989              2.23876            2384
604  2016-12-31    784              0.58721            2155
605  2017-01-01    137  0.10260999999999999            1887
606  2017-01-02   4791              4.04517            2617
607  2017-01-03   5224   3.9127699999999996            2497
608  2017-01-04   7864              6.40196            2972
609  2017-01-05   4709              3.52704            2460
610  2017-01-06  13146             10.30604            3637
611  2017-01-07   3002              2.24849            2326
612  2017-01-08   4392   3.2895999999999996            2579
613  2017-01-09   5423              4.06182            2615
614  2017-01-10  10152               8.2216            2985
615  2017-01-11   9289    6.957459999999999            3123
616  2017-01-12   6284              4.70671            2637
617  2017-01-13  13866   11.136709999999999            4086
618  2017-01-14   5606              4.19889            3502
619  2017-01-15   4252   3.1847399999999997            2722

[620 rows x 4 columns]

In [132]:
fitbit_df.Date = pd.to_datetime(fitbit_df.Date)
fitbit_df.Steps = fitbit_df.Steps.astype('int64')
fitbit_df.Distance = fitbit_df.Distance.astype('float')
fitbit_df.Calories_Burned = fitbit_df.Calories_Burned.astype('int64')

In [133]:
fitbit_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 620 entries, 0 to 619
Data columns (total 4 columns):
Date               620 non-null datetime64[ns]
Steps              620 non-null int64
Distance           620 non-null float64
Calories_Burned    620 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 24.2 KB

In [134]:
fitbit_df.head()

        Date  Steps  Distance  Calories_Burned
0 2018-07-28   4031   3.01921             2237
1 2018-07-29      0   0.00000             1851
2 2018-07-30      0   0.00000             1851
3 2018-07-31   3985   2.98476             2486
4 2018-08-01   4173   3.12557             2434

In [136]:
len(fitbit_df[fitbit_df['Steps'] < 1])

51

In [137]:
fitbit_df.to_pickle("Data/fitbit_stepsdistancecals.pkl")

In [138]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/floors/date/{value}/1m.json')
    response = r.json()
    floors = response['activities-tracker-floors']
    floors_df = pd.DataFrame(floors)
    if index == 0:
        all_floors_df = floors_df
    else:
        all_floors_df = pd.concat([all_floors_df, floors_df])
        
all_floors_df.rename(index=str, columns={"dateTime": "Date", "value": "Floors"}, inplace=True)    

all_floors_df.to_pickle("Data/fitbit_floors.pkl")    

all_floors_df

          Date Floors
0   2018-07-28      2
1   2018-07-29      0
2   2018-07-30      0
3   2018-07-31      4
4   2018-08-01      9
5   2018-08-02     10
6   2018-08-03     15
7   2018-08-04     20
8   2018-08-05      7
9   2018-08-06      7
10  2018-08-07     16
11  2018-08-08     10
12  2018-08-09      6
13  2018-08-10     10
14  2018-08-11      4
15  2018-08-12     19
16  2018-08-13     11
17  2018-08-14      7
18  2018-08-15      2
19  2018-08-16      8
20  2018-08-17     15
21  2018-08-18      0
22  2018-08-19     12
23  2018-08-20      9
24  2018-08-21     19
25  2018-08-22     10
26  2018-08-23     11
27  2018-08-24     17
28  2018-08-25      0
29  2018-08-26     25
..         ...    ...
1   2016-12-17      0
2   2016-12-18      0
3   2016-12-19      0
4   2016-12-20      0
5   2016-12-21      0
6   2016-12-22      0
7   2016-12-23      0
8   2016-12-24      0
9   2016-12-25      3
10  2016-12-26      3
11  2016-12-27      3
12  2016-12-28      9
13  2016-12-29      6
14  2016-12-30      0
15  2016-12-31      1
16  2017-01-01      0
17  2017-01-02      1
18  2017-01-03      4
19  2017-01-04      1
20  2017-01-05      1
21  2017-01-06      8
22  2017-01-07      1
23  2017-01-08      1
24  2017-01-09      0
25  2017-01-10      7
26  2017-01-11      1
27  2017-01-12      3
28  2017-01-13     31
29  2017-01-14      7
30  2017-01-15      5

[620 rows x 2 columns]

In [139]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/elevation/date/{value}/1m.json')
    response = r.json()
    elevation = response['activities-tracker-elevation']
    elevation_df = pd.DataFrame(elevation)
    if index == 0:
        all_elevation_df = elevation_df
    else:
        all_elevation_df = pd.concat([all_elevation_df, elevation_df])
    

all_elevation_df.rename(index=str, columns={"dateTime": "Date", "value": "Elevation"}, inplace=True)

all_elevation_df.to_pickle("Data/fitbit_elevation.pkl")    

all_elevation_df

          Date Elevation
0   2018-07-28         6
1   2018-07-29         0
2   2018-07-30         0
3   2018-07-31        12
4   2018-08-01        27
5   2018-08-02        30
6   2018-08-03        45
7   2018-08-04        60
8   2018-08-05        21
9   2018-08-06        21
10  2018-08-07        48
11  2018-08-08        30
12  2018-08-09        18
13  2018-08-10        30
14  2018-08-11        12
15  2018-08-12        57
16  2018-08-13        33
17  2018-08-14        21
18  2018-08-15         6
19  2018-08-16        24
20  2018-08-17        45
21  2018-08-18         0
22  2018-08-19        36
23  2018-08-20        27
24  2018-08-21        57
25  2018-08-22        30
26  2018-08-23        33
27  2018-08-24        51
28  2018-08-25         0
29  2018-08-26        76
..         ...       ...
1   2016-12-17         0
2   2016-12-18         0
3   2016-12-19         0
4   2016-12-20         0
5   2016-12-21         0
6   2016-12-22         0
7   2016-12-23         0
8   2016-12-24         0
9   2016-12-25         9
10  2016-12-26         9
11  2016-12-27         9
12  2016-12-28        27
13  2016-12-29        18
14  2016-12-30         0
15  2016-12-31         3
16  2017-01-01         0
17  2017-01-02         3
18  2017-01-03        12
19  2017-01-04         3
20  2017-01-05         3
21  2017-01-06        24
22  2017-01-07         3
23  2017-01-08         3
24  2017-01-09         0
25  2017-01-10        21
26  2017-01-11         3
27  2017-01-12         9
28  2017-01-13        94
29  2017-01-14        21
30  2017-01-15        15

[620 rows x 2 columns]

In [140]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/activityCalories/date/{value}/1m.json')
    response = r.json()
    activityCalories = response['activities-tracker-activityCalories']
    activityCalories_df = pd.DataFrame(activityCalories)
    if index == 0:
        all_activityCalories_df = activityCalories_df
    else:
        all_activityCalories_df = pd.concat([all_activityCalories_df, activityCalories_df])
    
all_activityCalories_df.rename(index=str, columns={"dateTime": "Date", "value": "Activity_Calories"}, inplace=True)
    
all_activityCalories_df.to_pickle("Data/fitbit_activityCalories.pkl")    

all_activityCalories_df

          Date Activity_Calories
0   2018-07-28                 0
1   2018-07-29                 0
2   2018-07-30                 0
3   2018-07-31                 0
4   2018-08-01                 0
5   2018-08-02                 0
6   2018-08-03                 0
7   2018-08-04                 0
8   2018-08-05                 0
9   2018-08-06               965
10  2018-08-07              1383
11  2018-08-08              1413
12  2018-08-09               656
13  2018-08-10              1192
14  2018-08-11               430
15  2018-08-12               510
16  2018-08-13                 0
17  2018-08-14                30
18  2018-08-15                54
19  2018-08-16              1173
20  2018-08-17              1133
21  2018-08-18                 0
22  2018-08-19               562
23  2018-08-20              1801
24  2018-08-21              1287
25  2018-08-22               926
26  2018-08-23              1454
27  2018-08-24              1522
28  2018-08-25               109
29  2018-08-26              1401
..         ...               ...
1   2016-12-17                 0
2   2016-12-18                 0
3   2016-12-19                 0
4   2016-12-20                 0
5   2016-12-21                 0
6   2016-12-22                 0
7   2016-12-23                 0
8   2016-12-24                 0
9   2016-12-25               268
10  2016-12-26               973
11  2016-12-27               923
12  2016-12-28              1464
13  2016-12-29              1054
14  2016-12-30               495
15  2016-12-31               172
16  2017-01-01                33
17  2017-01-02               840
18  2017-01-03               776
19  2017-01-04              1319
20  2017-01-05               692
21  2017-01-06              2071
22  2017-01-07               550
23  2017-01-08               810
24  2017-01-09               932
25  2017-01-10              1315
26  2017-01-11              1503
27  2017-01-12               893
28  2017-01-13              2606
29  2017-01-14              1685
30  2017-01-15               869

[620 rows x 2 columns]

In [141]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/minutesSedentary/date/{value}/1m.json')
    response = r.json()
    minutesSedentary = response['activities-tracker-minutesSedentary']
    minutesSedentary_df = pd.DataFrame(minutesSedentary)
    if index == 0:
        all_minutesSedentary_df = minutesSedentary_df
    else:
        all_minutesSedentary_df = pd.concat([all_minutesSedentary_df, minutesSedentary_df])
    

all_minutesSedentary_df.rename(index=str, columns={"dateTime": "Date", "value": "Minutes_Sedentary"}, inplace=True)
    
all_minutesSedentary_df.to_pickle("Data/fitbit_minutesSedentary.pkl")    

all_minutesSedentary_df

          Date Minutes_Sedentary
0   2018-07-28              1440
1   2018-07-29              1440
2   2018-07-30              1440
3   2018-07-31              1440
4   2018-08-01              1440
5   2018-08-02              1440
6   2018-08-03              1440
7   2018-08-04              1440
8   2018-08-05              1440
9   2018-08-06              1251
10  2018-08-07               716
11  2018-08-08               707
12  2018-08-09              1309
13  2018-08-10              1208
14  2018-08-11               806
15  2018-08-12              1383
16  2018-08-13              1440
17  2018-08-14              1433
18  2018-08-15              1035
19  2018-08-16              1226
20  2018-08-17               761
21  2018-08-18              1440
22  2018-08-19              1380
23  2018-08-20              1143
24  2018-08-21              1222
25  2018-08-22               787
26  2018-08-23               710
27  2018-08-24               820
28  2018-08-25               757
29  2018-08-26              1247
..         ...               ...
1   2016-12-17              1440
2   2016-12-18              1440
3   2016-12-19              1440
4   2016-12-20              1440
5   2016-12-21              1440
6   2016-12-22              1440
7   2016-12-23              1440
8   2016-12-24              1440
9   2016-12-25              1368
10  2016-12-26               750
11  2016-12-27               848
12  2016-12-28               699
13  2016-12-29               793
14  2016-12-30               781
15  2016-12-31               987
16  2017-01-01              1431
17  2017-01-02               829
18  2017-01-03               840
19  2017-01-04               710
20  2017-01-05               845
21  2017-01-06               651
22  2017-01-07               818
23  2017-01-08               773
24  2017-01-09               765
25  2017-01-10               702
26  2017-01-11               649
27  2017-01-12               799
28  2017-01-13               587
29  2017-01-14               782
30  2017-01-15               841

[620 rows x 2 columns]

In [142]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/minutesLightlyActive/date/{value}/1m.json')
    response = r.json()
    minutesLightlyActive = response['activities-tracker-minutesLightlyActive']
    minutesLightlyActive_df = pd.DataFrame(minutesLightlyActive)
    if index == 0:
        all_minutesLightlyActive_df = minutesLightlyActive_df
    else:
        all_minutesLightlyActive_df = pd.concat([all_minutesLightlyActive_df, minutesLightlyActive_df])
    

all_minutesLightlyActive_df.rename(index=str, columns={"dateTime": "Date", "value": "Minutes_Lightly_Active"}, inplace=True)
    
all_minutesLightlyActive_df.to_pickle("Data/fitbit_minutesLightlyActive.pkl")    

all_minutesLightlyActive_df

          Date Minutes_Lightly_Active
0   2018-07-28                      0
1   2018-07-29                      0
2   2018-07-30                      0
3   2018-07-31                      0
4   2018-08-01                      0
5   2018-08-02                      0
6   2018-08-03                      0
7   2018-08-04                      0
8   2018-08-05                      0
9   2018-08-06                    150
10  2018-08-07                    195
11  2018-08-08                    196
12  2018-08-09                    116
13  2018-08-10                    196
14  2018-08-11                     12
15  2018-08-12                     21
16  2018-08-13                      0
17  2018-08-14                      7
18  2018-08-15                     15
19  2018-08-16                    169
20  2018-08-17                    176
21  2018-08-18                      0
22  2018-08-19                     17
23  2018-08-20                    174
24  2018-08-21                    136
25  2018-08-22                    153
26  2018-08-23                    159
27  2018-08-24                    221
28  2018-08-25                     15
29  2018-08-26                    103
..         ...                    ...
1   2016-12-17                      0
2   2016-12-18                      0
3   2016-12-19                      0
4   2016-12-20                      0
5   2016-12-21                      0
6   2016-12-22                      0
7   2016-12-23                      0
8   2016-12-24                      0
9   2016-12-25                     72
10  2016-12-26                    210
11  2016-12-27                    168
12  2016-12-28                    262
13  2016-12-29                    141
14  2016-12-30                    120
15  2016-12-31                     45
16  2017-01-01                      9
17  2017-01-02                    131
18  2017-01-03                    174
19  2017-01-04                    205
20  2017-01-05                    141
21  2017-01-06                    323
22  2017-01-07                    126
23  2017-01-08                    127
24  2017-01-09                    203
25  2017-01-10                    223
26  2017-01-11                    310
27  2017-01-12                    141
28  2017-01-13                    266
29  2017-01-14                    193
30  2017-01-15                    144

[620 rows x 2 columns]

In [143]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/minutesFairlyActive/date/{value}/1m.json')
    response = r.json()
    minutesFairlyActive = response['activities-tracker-minutesFairlyActive']
    minutesFairlyActive_df = pd.DataFrame(minutesFairlyActive)
    if index == 0:
        all_minutesFairlyActive_df = minutesFairlyActive_df
    else:
        all_minutesFairlyActive_df = pd.concat([all_minutesFairlyActive_df, minutesFairlyActive_df])
    

all_minutesFairlyActive_df.rename(index=str, columns={"dateTime": "Date", "value": "Minutes_Fairly_Active"}, inplace=True)
    
all_minutesFairlyActive_df.to_pickle("Data/fitbit_minutesFairlyActive.pkl")    

all_minutesFairlyActive_df

          Date Minutes_Fairly_Active
0   2018-07-28                     0
1   2018-07-29                     0
2   2018-07-30                     0
3   2018-07-31                     0
4   2018-08-01                     0
5   2018-08-02                     0
6   2018-08-03                     0
7   2018-08-04                     0
8   2018-08-05                     0
9   2018-08-06                    31
10  2018-08-07                    44
11  2018-08-08                    38
12  2018-08-09                    12
13  2018-08-10                    13
14  2018-08-11                     9
15  2018-08-12                     2
16  2018-08-13                     0
17  2018-08-14                     0
18  2018-08-15                     0
19  2018-08-16                    25
20  2018-08-17                    18
21  2018-08-18                     0
22  2018-08-19                     0
23  2018-08-20                    69
24  2018-08-21                    41
25  2018-08-22                    28
26  2018-08-23                    38
27  2018-08-24                    39
28  2018-08-25                     0
29  2018-08-26                     9
..         ...                   ...
1   2016-12-17                     0
2   2016-12-18                     0
3   2016-12-19                     0
4   2016-12-20                     0
5   2016-12-21                     0
6   2016-12-22                     0
7   2016-12-23                     0
8   2016-12-24                     0
9   2016-12-25                     0
10  2016-12-26                     8
11  2016-12-27                     1
12  2016-12-28                     5
13  2016-12-29                    11
14  2016-12-30                     0
15  2016-12-31                     0
16  2017-01-01                     0
17  2017-01-02                     0
18  2017-01-03                     0
19  2017-01-04                    16
20  2017-01-05                     5
21  2017-01-06                    25
22  2017-01-07                     0
23  2017-01-08                    19
24  2017-01-09                     6
25  2017-01-10                     2
26  2017-01-11                     0
27  2017-01-12                     7
28  2017-01-13                    30
29  2017-01-14                    42
30  2017-01-15                    21

[620 rows x 2 columns]

In [144]:
for index, value in enumerate(date_list):
    r = fitbit.get(f'https://api.fitbit.com/1/user/-/activities/tracker/minutesVeryActive/date/{value}/1m.json')
    response = r.json()
    minutesVeryActive = response['activities-tracker-minutesVeryActive']
    minutesVeryActive_df = pd.DataFrame(minutesVeryActive)
    if index == 0:
        all_minutesVeryActive_df = minutesVeryActive_df
    else:
        all_minutesVeryActive_df = pd.concat([all_minutesVeryActive_df, minutesVeryActive_df])
    

all_minutesVeryActive_df.rename(index=str, columns={"dateTime": "Date", "value": "Minutes_Very_Active"}, inplace=True)
    
all_minutesVeryActive_df.to_pickle("Data/fitbit_minutesVeryActive.pkl")    

all_minutesVeryActive_df

          Date Minutes_Very_Active
0   2018-07-28                   0
1   2018-07-29                   0
2   2018-07-30                   0
3   2018-07-31                   0
4   2018-08-01                   0
5   2018-08-02                   0
6   2018-08-03                   0
7   2018-08-04                   0
8   2018-08-05                   0
9   2018-08-06                   8
10  2018-08-07                  23
11  2018-08-08                  27
12  2018-08-09                   3
13  2018-08-10                  23
14  2018-08-11                  28
15  2018-08-12                  34
16  2018-08-13                   0
17  2018-08-14                   0
18  2018-08-15                   0
19  2018-08-16                  20
20  2018-08-17                  16
21  2018-08-18                   0
22  2018-08-19                  43
23  2018-08-20                  54
24  2018-08-21                  41
25  2018-08-22                   2
26  2018-08-23                  52
27  2018-08-24                  24
28  2018-08-25                   0
29  2018-08-26                  81
..         ...                 ...
1   2016-12-17                   0
2   2016-12-18                   0
3   2016-12-19                   0
4   2016-12-20                   0
5   2016-12-21                   0
6   2016-12-22                   0
7   2016-12-23                   0
8   2016-12-24                   0
9   2016-12-25                   0
10  2016-12-26                   2
11  2016-12-27                  16
12  2016-12-28                  14
13  2016-12-29                  35
14  2016-12-30                   0
15  2016-12-31                   0
16  2017-01-01                   0
17  2017-01-02                  19
18  2017-01-03                   0
19  2017-01-04                  19
20  2017-01-05                   1
21  2017-01-06                  22
22  2017-01-07                   0
23  2017-01-08                  18
24  2017-01-09                   3
25  2017-01-10                  17
26  2017-01-11                   0
27  2017-01-12                  18
28  2017-01-13                 100
29  2017-01-14                  58
30  2017-01-15                  11

[620 rows x 2 columns]

In [148]:
fitbit_df2 = all_steps_df.merge(all_distance_df, left_on='Date', right_on='Date', how='outer')
fitbit_df2 = fitbit_df2.merge(all_calories_df, left_on='Date', right_on='Date', how='outer')
fitbit_df2 = fitbit_df2.merge(all_floors_df, left_on='Date', right_on='Date', how='outer')
fitbit_df2 = fitbit_df2.merge(all_elevation_df, left_on='Date', right_on='Date', how='outer')
fitbit_df2 = fitbit_df2.merge(all_activityCalories_df, left_on='Date', right_on='Date', how='outer')
fitbit_df2 = fitbit_df2.merge(all_minutesSedentary_df, left_on='Date', right_on='Date', how='outer')
fitbit_df2 = fitbit_df2.merge(all_minutesLightlyActive_df, left_on='Date', right_on='Date', how='outer')
fitbit_df2 = fitbit_df2.merge(all_minutesFairlyActive_df, left_on='Date', right_on='Date', how='outer')
fitbit_df2 = fitbit_df2.merge(all_minutesVeryActive_df, left_on='Date', right_on='Date', how='outer')

fitbit_df2.head()

,Date,Steps,Distance,Calories_Burned,Floors,Elevation,Activity_Calories,Minutes_Sedentary,Minutes_Lightly_Active,Minutes_Fairly_Active,Minutes_Very_Active
0,2018-07-28,4031,3.0192099999999997,2237,2,6,0,1440,0,0,0
1,2018-07-29,0,0.0,1851,0,0,0,1440,0,0,0
2,2018-07-30,0,0.0,1851,0,0,0,1440,0,0,0
3,2018-07-31,3985,2.98476,2486,4,12,0,1440,0,0,0
4,2018-08-01,4173,3.1255699999999997,2434,9,27,0,1440,0,0,0

In [149]:
fitbit_df2.Date = pd.to_datetime(fitbit_df2.Date)
fitbit_df2.Steps = fitbit_df2.Steps.astype('int64')
fitbit_df2.Distance = fitbit_df2.Distance.astype('float')
fitbit_df2.Calories_Burned = fitbit_df2.Calories_Burned.astype('int64')
fitbit_df2.Floors = fitbit_df2.Floors.astype('int64')
fitbit_df2.Elevation = fitbit_df2.Elevation.astype('int64')
fitbit_df2.Activity_Calories = fitbit_df2.Activity_Calories.astype('int64')
fitbit_df2.Minutes_Sedentary = fitbit_df2.Minutes_Sedentary.astype('int64')
fitbit_df2.Minutes_Lightly_Active = fitbit_df2.Minutes_Lightly_Active.astype('int64')
fitbit_df2.Minutes_Fairly_Active = fitbit_df2.Minutes_Fairly_Active.astype('int64')
fitbit_df2.Minutes_Very_Active = fitbit_df2.Minutes_Very_Active.astype('int64')

In [150]:
fitbit_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 620 entries, 0 to 619
Data columns (total 11 columns):
Date                      620 non-null datetime64[ns]
Steps                     620 non-null int64
Distance                  620 non-null float64
Calories_Burned           620 non-null int64
Floors                    620 non-null int64
Elevation                 620 non-null int64
Activity_Calories         620 non-null int64
Minutes_Sedentary         620 non-null int64
Minutes_Lightly_Active    620 non-null int64
Minutes_Fairly_Active     620 non-null int64
Minutes_Very_Active       620 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 58.1 KB

In [151]:
fitbit_df2.head()

,Date,Steps,Distance,Calories_Burned,Floors,Elevation,Activity_Calories,Minutes_Sedentary,Minutes_Lightly_Active,Minutes_Fairly_Active,Minutes_Very_Active
0,2018-07-28,4031,3.01921,2237,2,6,0,1440,0,0,0
1,2018-07-29,0,0.00000,1851,0,0,0,1440,0,0,0
2,2018-07-30,0,0.00000,1851,0,0,0,1440,0,0,0
3,2018-07-31,3985,2.98476,2486,4,12,0,1440,0,0,0
4,2018-08-01,4173,3.12557,2434,9,27,0,1440,0,0,0

In [153]:
# fitbit_df2.set_index('Date', inplace=True)

fitbit_df2.head()

,Steps,Distance,Calories_Burned,Floors,Elevation,Activity_Calories,Minutes_Sedentary,Minutes_Lightly_Active,Minutes_Fairly_Active,Minutes_Very_Active
Date,,,,,,,,,,
2018-07-28,4031,3.01921,2237,2,6,0,1440,0,0,0
2018-07-29,0,0.00000,1851,0,0,0,1440,0,0,0
2018-07-30,0,0.00000,1851,0,0,0,1440,0,0,0
2018-07-31,3985,2.98476,2486,4,12,0,1440,0,0,0
2018-08-01,4173,3.12557,2434,9,27,0,1440,0,0,0

In [154]:
fitbit_df2 = fitbit_df2.sort_index()

fitbit_df2.tail()

,Steps,Distance,Calories_Burned,Floors,Elevation,Activity_Calories,Minutes_Sedentary,Minutes_Lightly_Active,Minutes_Fairly_Active,Minutes_Very_Active
Date,,,,,,,,,,
2018-08-23,10359,7.75889,3141,11,33,1454,710,159,38,52
2018-08-24,8696,6.51330,3216,17,51,1522,820,221,39,24
2018-08-25,165,0.12358,1977,0,0,109,757,15,0,0
2018-08-26,13286,11.05997,3080,25,76,1401,1247,103,9,81
2018-08-27,6360,4.76364,2801,8,24,1028,1254,134,29,23

In [155]:
fitbit_df2.to_pickle("Data/fitbit_all.pkl")